<style>
    .case {
  text-align: center;
  margin-top: 20px;
}
.case img {
  height: 200px;
}
</style>

{% extends "base.html" %}
{% block title %} - User - {% endblock %}
{% block page_content %}
<div style="width: 70%;">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
                {{wtf.quick_form(search_form)}}
        </div>
    </nav>
</div>

<div class="content" style="width: 70%;">
    <div class="panel panel-default">
         <div class="panel-body">


           </div>
        <div class="panel-body">
            <form method="POST" action="">
            <div class="row">
                <div class="col-sm-2 ">
                    <label>
                        <input name="s_option" value="basketball" type="checkbox"> 篮球
                    </label>
                </div>
                <div class="col-sm-2 ">
                    <label>
                    <input name="s_option" value="football" type="checkbox"> 足球
                    </label>
                </div>
                <div class="col-sm-2 ">
                    <label>
                        <input name="s_option" value="badminton"  type="checkbox"> 羽毛球
                    </label>
                </div>
            </div>
            </form>
            <input type="submit" value="Submit">
           </div>
    </div>

    <div class="panel panel-default">
        {% if not movies == () %}
        <div class="panel-body">
            {% for movie in movies %}
            {% include 'item.html' %}
            {% endfor %}
        </div>


        <ul class="pagination pagination-lg" style="margin-left: 36%">
            {%  if page>1%}
            <li class="previous"><a href="{{url_for('index', page = page - 1)}}">&larr; Older</a></li>
            {% else %}
            <li class="previous disabled"><a href="#">&larr; Older</a></li>
            {% endif%}

            {%  if page != -1%}
            <li class="next"><a href="{{url_for('index', page = page + 1)}}">Newer &rarr;</a></li>
            {% else %}
            <li class="next disabled"><a href="#">Newer &rarr;</a></li>
            {% endif%}

        </ul>
        {% endif %}
    </div>


</div>
{% endblock %}
